{% extends "base.html" %}
{% block content %}

<!-- <form action="/members/{{ member.id }}" method="post">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="name" required autofocus>
  </div>

  <button type="submit">Edit</button>

</form> -->

<form action="/members/{{ member.id }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ member.name }}">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
{% endblock %}