{% extends "base.html" %}
{% block content %}

<div class="add-session">
    <h1>EDIT MEMBER</h1>
</div>
<div class="new-member-container">
<div class="new-member-1">
<form action="/members/{{ member.id }}" method="POST">
    <div>
        <label class="member-label-name" for="name">Name:</label>
        <input class="member-label" type="text" id="name" name="name" value="{{ member.name }}">
    </div>

    <div class="new-member-1-last">
        <button class="new-member-button" type="submit">EDIT</button>
    </div>
</div>
</form>
{% endblock %}