{% extends 'base.html' %}

{% block content %}
<section class="members-container">
<div class="create-member-1">
<h1>Members</h1>
<p>
    <a class="create-new-member-button" href="/members/new">Add New Member</a>
</p>

<table class="member-table">
    <tr>
        <th id="name">ACTIVE MEMBERS</th>
        <th id="delete"></th>
        <th id="edit"></th>
    </tr>
    {% for member in members %}
    <tr>
        <td> <button class="table-name-button"> <a href="/members/{{ member.id }}">{{ member.name }}</a></button></td>
        <td><a href="/members/{{ member.id }}/edit"><button class ="create-session-button-small">Edit</button></a></td>
        <td><form action="/members/{{ member.id }}/delete" method="POST"><input class="create-session-button-small" type="submit" value="Delete"></form></td>
    </tr>
    {% endfor %}



</table>
</div>
<!-- <div class="create-member-2">
<table> -->
    
    
<!--   
        {% for member in members %}
       
            <section>
            <p>{{member.name }}</p>
               <a href="/members/{{ member.id }}/edit"><button>Edit</button></a>
                <form action="/members/{{ member.id }}/delete" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </section>
         
            
        {% endfor %}
   
</table> -->
<!-- </div> -->
</section>
    
{% endblock %}

 <!-- <form action="/members/{{ member.id }}/edit" method="POST"> 
                    <input type="submit" value="edit">
                 </form>   -->