{% extends 'base.html' %}

{% block content %}
<section class="members-container">
<div class="create-member-1">
<h1>Members</h1>

<table>
    <tr>
        <th>Active Members</th>
    </tr>
    {% for member in members %}
    <tr>
        <td><a href="/members/{{ member.id }}">{{ member.name }}</a></td>
    </tr>
    {% endfor %}
</table>
</div>
<div class="create-member-2">
<table>
    <p>
        <a href="/members/new">Add New Member</a>
    </p>

    
  
        {% for member in members %}
       
            <section>
            <p>{{member.name }}</p>
               <a href="/members/{{ member.id }}/edit"><button>Edit</button></a>
                <form action="/members/{{ member.id }}/delete" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </section>
         
            
        {% endfor %}
   
</table>
</div>
</section>
    
{% endblock %}

 <!-- <form action="/members/{{ member.id }}/edit" method="POST"> 
                    <input type="submit" value="edit">
                 </form>   -->