{% extends "base.html" %}
{% block content %}
<div class="add-session">
  <h1>ADD A MEMBER</h1>
  </div>
<div class="new-member-container">
  <div class="new-member-1">
<form action="/members" method="post">
    <label id="member-label-name" for="name">ENTER MEMBER NAME: </label>
    <input class="member-label" type="text" id="name" name="name" placeholder="name" required autofocus>
  </div>

  <div class="new-member-1-last">
  <button class="new-member-button" type="submit">Add New Member</button>
</div>
</form>
</div>

{% endblock %}