{% extends 'base.html' %}

{% block content %}
<h1>Bookings</h1>
<!-- 
{% for booking in bookings %}
    
{% endfor %} -->

<p>
    <a href="/bookings/new">New Booking</a>
</p>

<ul>
    {% for booking in bookings %}
    <li>
        <p>{{booking.member.name }} - {{ booking.session.name }}</p>
        <p>"<i>{{booking.comment}}</i>"</p>
        <p>
            <form action="/bookings/{{ booking.id }}/delete" method="POST">
                <input type="submit" value="delete">
            </form>
        </p>
    </li>
        
    {% endfor %}
</ul>
{% endblock %}