{% extends 'base.html' %}

{% block content %}
<section class="bookings-container">
<div class="create-booking-1">
    <h1>NEW BOOKINGS</h1>
<table>
<p>
    <a href="/bookings/new"><button class="new-button">CREATE NEW SESSION</button></a>
</p>
</div>
<table class="booking-table">
    <tr>
        <th class="table-header-name">NAME</th>
        <th class="table-header-category">SESSION</th>
        <th class="table-header-date">DATE</th>
        <th class="table-header-time">TIME</th>
        <th class="table-header-delete"></th>
    </tr>
    {% for booking in bookings %}
    <tr>
        <td>{{booking.member.name }} </td>
        <td>{{ booking.session.name }}</td>
        <td> {{booking.date}} </td>
        <td>{{ booking.time }}</td>
        <td><form action="/bookings/{{ booking.id }}/delete" method="POST">
            <input class="new-button-delete" type="submit" value="Delete">
        </form></td>
    </tr>
        
    {% endfor %}
</table>
</section>
{% endblock %}


