{% extends 'base.html' %}

{% block content %}
<div class="add-booking">
<h1>ADD A BOOKING</h1>
</div>
<div class="new-booking-container">

<div class="new-booking-1">
<form action="/bookings" method="post">
    <label for="member">SELECT MEMBER:</label>
        <select class="booking-select" name="member_id" id="member">
            {% for member in members %}
                <option value="{{ member.id }}">{{ member.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="new-booking-1">
    <label for="session">SELECT SESSION:</label>
        <select class="booking-select" name="session_id" id="session">
            {% for session in sessions %}
                <option value="{{ session.id }}">{{ session.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="new-booking-1">
     <label for="date">SELECT DATE:</label>
            <input class = "date-time-select" type="date" id="date" name="date" required autofocus>
   </div>
   
  
   <div class="new-booking-1">
      <label for="time">SELECT TIME:</label>
        <input class = "date-time-select" type="time" id="time" name="time" required autofocus>
        </div>
    </div>



    
   <div class="new-booking-1-last">
     <button class="new-booking-button" type='submit'>Submit</button>
  </div>

</form>
</div>


    
{% endblock %}
