.bookings-container {
    max-width: 1300px;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.create-booking-1 {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color:rgba(64, 224, 208, 0.26);
    font-size: 2.5vw;
    font-weight: 600;
    color: black;
    text-align: center;
    flex-basis: 40%;
   
}

.create-booking-1 h1 {
    color: black;
    text-shadow: 0 0 3px white;
    font-size: 4.0vw;
    text-align: center;
    font-weight: 700;
}

.create-booking-2 {
    padding: 5px;
    font-size: 25px;
    color: white;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: rgba(64, 224, 208, 0.26);
    text-shadow: 0 0 3px black;
    flex-basis: 40%;
}

.create-booking-2 h1 {
    color: black;
    font-size: 4.0vw;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 3px white;

}

.create-booking-2 li {
   list-style-type: none;
}

.new-booking a {
    color: white;
}

.new-button {
  background-color: #60B99A;
  border: none;
  color: white;
  font-size: 20px;
  padding: 16px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
}

.new-booking-button {
    margin: 4px 2px;
    border-radius: 10px;
    background: #60B99A;
    color: #fff; 
    display: block; 
    padding: 10px; 
    text-decoration: none;
    font-size: 20px;
    cursor: pointer; 
}
    

.new-booking-container {
        max-width: 1300px;
        margin: 40px auto 0 auto;
        line-height: 1.65;
        padding: 20px 50px;
        /* flex-direction: row; */
        position:absolute;
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;
        display:inline-flex;
        text-align: center;
    }
 
.new-booking-1 {
    height: auto;
    width: 24%;
    /* background-size: auto;
    background-repeat: no-repeat;
    background-position: center center; */
    padding: 60px 60px;
    box-sizing: border-box;
    font-size: 30px;
    margin-bottom: 20px;
    background-color: rgba(64, 224, 208, 0.26); 
    justify-content: space-between;
}

.new-booking-1-last {
    background-color: none;
    justify-content: center;
    flex-wrap: wrap;
}  

    /* background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    margin: 40px;
    padding: 40px;
    font-family: 'Roboto Condensed', sans-serif; */

/* .booking-text h1 {
    font-size: 3.5vw;
    font-weight: 600;
    text-align: center;
    color: black;
    margin-top: 33px;
    margin-bottom: 49px;
  } */
  
/* .booking-text p {
    font-size: 2.5vw;
    text-align: center;
    font-weight: 400;
    line-height: .5;
    color: black;
    margin-bottom: 5;
  } */
