/* CSS for create bookings page */

.bookings-container {
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.create-booking-1 {

    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color:rgba(64, 224, 208, 0.26);
    font-size: 2.0vw;
    font-weight: 600;
    color: black;
   
}

.create-booking-1 h1 {
    color: black;
    font-size: 4.0vw;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 3px white;
}


.new-booking a {
    color: white;
}

.new-button {
  background-color: #60B99A;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  padding: 16px 16px;
  text-decoration: none;
  margin-left: 650px;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
}

.new-button-delete {
    background-color: #60B99A;
    border: none;
    color: white;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}

.new-button:hover {
    background-color: gray;
}

.new-booking-button {
    margin: 4px 2px;
    border-radius: 10px;
    background: white;
    color: #60B99A;
    display: block; 
    padding: 10px; 
    text-decoration: none;
    font-size: 20px;
    cursor: pointer; 
}
    

.new-booking-container {
        max-width: 2000px;
        text-align: center;
        display: grid;
        grid-template-columns: (4, 3fr);
        row-gap: 1em;
        display: flex;
        column-gap:20px;
        justify-content: space-evenly;

    }
 
.new-booking-1 {
    height: auto;
    padding: 40px 20px;
    box-sizing: border-box;
    font-size: 26px;
    font-weight: 600;
    text-shadow: 0 0 5px black;
    margin-bottom: 40px;
    background-color: rgba(64, 224, 208, 0.26); 
    color:white;
    width: 300px;
}

.new-booking-1-last {
    background-color: none;
    margin-top: 75px;
}

.new-booking-button {
    
    background-color: #60B99A;
    border: 1px solid white;;
    color: white;
    font-size: 25px;
    padding: 20px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 900px;
} 

.new-booking-button:hover {
    background-color: gray;
} 

.add-booking h1 {
    color: black;
    text-shadow: 0 0 3px white;
    font-size: 4.0vw;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    margin: 0;
}

.booking-select {
    padding: 8px 8px;
    background-color: white;
    color:  #60B99A;
    font-size: 20px;
    border: darkgray;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 15%;
    margin-bottom: 15%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"> <polygon points="0,0 100, 0, 50, 50" style="fill:%23666666;"/></svg>');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 30px;
}

.date-time-select {
    padding: 8px 8px;
    background-color: white;
    color:  #60B99A;
    font-size: 20px;
    border: darkgray;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 15%;
    margin-bottom: 15%;
    appearance: none;
}

.booking-select:hover {
    background-color: gray;
}

.booking-label:hover {
    background-color: gray;
}

/* Table Section for My Bookings */

.booking-table {
    table-layout: fixed;
    width: 1500px;
    border-spacing: 0.5rem;
    border-collapse: collapse;
    text-align: left;
}

.booking-table tr {
    background-color: rgba(255, 255, 255, 0.65);
    padding: .35em;
}

.booking-table td, th {
    border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5em;
    text-align: left;
    }

.booking-table td, a {
    color: black;
    text-decoration: none;
}


