.main-nav {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: space-evenly;
  }

.main-nav li {
    list-style: none;
    margin: 30px auto;
}

.main-nav a {
    margin: 20px auto;
    border-radius: 20px;
    background: #60B99A;
    color: #fff;
    display: block;
    padding: 30px;
    text-decoration: none;
    font-size: 25px;
    border: 1px solid white;
}

.main-nav a:hover {
    background-color: gray;
}
  