.gym {
    background-color:rgba(255, 255, 255, 0.5);
}

.favourite {
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gym {
    height: auto;
    width: 50%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 40px;
    padding: 60px;
}
  
.gym-text h1 {
    font-size: 5.0vw;
    font-weight: 600;
    text-align: center;
    color: black;
    margin-top: 33px;
    margin-bottom: 49px;
  }
  
.gym-text p {
    font-size: 3.0vw;
    text-align: center;
    font-weight: 500;
    line-height: .5;
    color: black;
    margin-bottom: 5;
  }

.gym-text a {
    text-decoration: none;
    color: white;
}
