 /* .background-nav a {
    background: url('/static/images/menu/gym.jpg');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 } */
/* 
    main-nav li a */