.members-container {
    max-width: 1300px;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.create-member-1 {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color:rgba(64, 224, 208, 0.26);
    font-size: 2.5vw;
    font-weight: 600;
    color: black;
    text-align: center;
    flex-basis: 40%;
   
}

.create-member-1 h1 {
    color: black;
    text-shadow: 0 0 3px white;
    font-size: 4.0vw;
    text-align: center;
    font-weight: 700;
    padding: 0;
    margin-bottom: 0;
}


.member-table {
    table-layout: fixed;
    width: 1000px;
    border-spacing: 0.5rem;
    border-collapse: collapse;
    text-align: left;
}

.member-table tr {
    background-color: rgba(255, 255, 255, 0.5);
    padding: .35em;
}

.member-table td, th {
    border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5em;
    text-align: left;
    }

.member-table td, a {
    color: black;
    text-decoration: none;

} 

.create-new-member-button {
    margin-bottom: 30px;
    margin-top: 0;
    background: #60B99A;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    justify-self: center;
    align-content: center;
    border: none;
}


.create-new-member-button:hover {
    background-color: gray;
}

#name {
    width:500px;
}