.create-session-container {
    max-width: 1300px;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 60px;
    display: flex;
    flex-wrap: wrap;
    flex-basis:40%;
    justify-content:space-around;

}

.create-session-1 {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color:rgba(64, 224, 208, 0.26);
    font-size: 1.5vw;
    font-weight: 600;
    color: black;
    text-align: center;
    flex-grow: 0;
}

.create-session-2 {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: rgba(64, 224, 208, 0.26);
    font-size: 1.5vw;
    font-weight: 600;
    color: black;
    text-align: center;
    flex-grow: 0.5;
}

.create-session-2 a {
    text-decoration: none;
}

.create-session-container h1 {
    color: black;
    font-size: 4.0vw;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 3px white;
}

.create-session-2 li {
    list-style-type: none;
 }

 .create-session-2-button {
    background-color: #60B99A;
    border: none;
    color: white;
    font-size: 20px;
    padding: 16px 20px;
    text-decoration: none;
    margin: 4px 4px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.create-session-2-button:hover{
    background-color: gray;
}


.table-name-button {
    background-color: #60B99A;
    border: none;
    color: white;
    font-size: 20px;
    padding: 16px 20px;
    text-decoration: none;
    margin: 4px 4px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.table-name-button a{
    color: white;
    text-decoration: none;
}

.table-name-button:hover {
    background-color: gray;
}

.create-session-button-small {
    margin: 10px;
    background: #60B99A;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    justify-self: center;
    border: none;
}

.create-session-button-small:hover {
    background-color: gray;
}


.session-table {
    table-layout: fixed;
    width: 550px;
    /* border: 3px solid white; */
    border-spacing: 0.5rem;
    border-collapse: collapse;
    text-align: centre;
}

.session-table tr {
    background-color: rgba(255, 255, 255, 0.7);
    /* border: 1px solid #ddd; */
    padding: .35em;
}

.session-table td, th {
    border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5em;
    }

.session-table td, a {
    color: black;
}

#name {
    width: 160px;
}

#category {
    width: 120px;
}

#date {
    width: 100px;
}