/* CSS for create sessions page */

.create-session-container {
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.create-session-1 {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color:rgba(64, 224, 208, 0.26);
    font-size: 2.0vw;
    font-weight: 600;
    color: black;
}

.create-session-1 h1 {
    color: black;
    font-size: 4.0vw;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 3px white;
}

.table-name-button {
    background-color: #60B99A;
    border: none;
    color: white;
    font-size: 20px;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    justify-content: center;
    position: relative;
   
}

.table-name-button a{
    color: white;
    text-decoration: none;
}

.table-name-button:hover {
    background-color: gray;
}

.create-session-button-small {
    margin: 10px;
    background: #60B99A;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    justify-self: center;
    border: none;
}

.create-session-button-small:hover {
    background-color: gray;
}

.create-new-session-button {
    margin-left: 470px;
    margin-bottom: 30px;
    background: #60B99A;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    justify-self: center;
    align-content: center;
    border: 1px solid white;
}

.create-new-session-button:hover {
    background-color: gray;
}

/* This Section is for My Sessions Table */

.session-table {
    table-layout: fixed;
    width: 1000px;
    border-spacing: 0.5rem;
    border-collapse: collapse;
    text-align: left;
    margin-left: auto;
    margin-right:auto;
}

.session-table tr {
    background-color: rgba(255, 255, 255, 0.65);
    padding: .35em;
}

.session-table td, th {
    border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5em;
    text-align: left;
    }

.session-table td, a {
    color: black;
    text-decoration: none;

} 

.table-header-name {
   width: 200px;
}

.table-header-category  {
    width: 200px;
}

.table-header-date {
    width: 200px;
} 

.table-header-time  {
    width: 200px;
}

.table-header-edit {
    width: 80px;
}

.table-header-delete {
    width: 80px;
}

.new-session-container {
    text-align: center;
    display: grid;
    grid-template-columns: (4, 3fr);
    row-gap: 1em;
    display: flex;
    column-gap:20px;
    justify-content: space-evenly;
    max-width: 2000px;
}

/* CSS for ADD a Session Page  */

.new-session-1 {
    height: auto;
    width: 500px;
    padding: 40px 40px;
    box-sizing: border-box;
    font-size: 26px;
    font-weight: 600;
    text-shadow: 0 0 5px black;
    margin-bottom: 40px;
    background-color: rgba(64, 224, 208, 0.26); 
    color:white;
}

.new-session-1-last {
    background-color: none;
}

.add-session h1 {
    color: black;
    text-shadow: 0 0 3px white;
    font-size: 4.0vw;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    margin: 0;
}

.new-session-button {
    
    background-color: #60B99A;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    width: 90px;
    margin-top: 50px;
    margin-right: 20px;
}

.new-session-button:hover {
    background-color: gray;
}


.session-select {
    padding: 8px 8px;
    background-color: white;
    color:  #60B99A;
    font-size: 20px;
    width: 250px;
    border: none;
    cursor:text;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: auto;
    appearance: none;
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 30px;
}


.session-label {
    padding: 8px 8px;
    width: 300px;
    background-color: white;
    color:  #60B99A;
    font-size: 20px;
    border: darkgray;
    cursor: pointer;
    border-radius: 20px;
    appearance: none;
    margin-top: 30px;
    margin-bottom: auto;
} 

.session-label:hover {
    background-color: gray;
}

.show-session-container{
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color:rgba(64, 224, 208, 0.26);
    font-size: 1.5vw;
    font-weight: 600;
    color: black;
    text-align: center;
    flex-basis: 40%;
   
}

/* CSS for Edit Session Page */

.edit-session-container {
    text-align: center;
    display: flex;
    column-gap:20px;
    justify-content: space-between;
    width: 25%;
    flex-wrap: row wrap;
}


.edit-session-1 {
    height: auto;
    padding: 20px 20px;
    box-sizing: border-box;
    font-size: 26px;
    font-weight: 600;
    text-shadow: 0 0 5px black;
    margin-bottom: 40px;
    background-color: rgba(64, 224, 208, 0.26); 
    color:white;
}

.edit-session-1-last {
    background-color: none;
}

.new-session-button {
    
    background-color: #60B99A;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    width: 90px;
    margin-top: 50px;
    margin-right: 20px;
}

.new-session-button:hover {
    background-color: gray;
}


.session-edit-select {
    padding: 8px 8px;
    background-color: white;
    color:  #60B99A;
    font-size: 20px;
    width: 200px;
    border: none;
    cursor:text;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: auto;
    appearance: none;
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 30px;
}

.session-edit-label {
    padding: 8px 8px;
    width: 200px;
    background-color: white;
    color:  #60B99A;
    font-size: 20px;
    border: darkgray;
    cursor: pointer;
    border-radius: 10px;
    appearance: none;
    margin-top: 30px;
    margin-bottom: auto;
} 

.session-edit-label:hover {
    background-color: gray;
}

.edit-session-button {
        background-color: #60B99A;
        border: 1px solid white;
        color: white;
        font-size: 20px;
        padding: 10px 10px;
        text-decoration: none;
        cursor: pointer;
        font-family: 'Roboto Condensed', sans-serif;
        width: 90px;
        margin-top: 50px;
        margin-right: 20px;
    }
    
.edit-session-button:hover {
        background-color: gray;
    }
    

    
