body {
    font-family: 'Roboto Condensed', sans-serif;
    background: url('/static/images/menu/gym.jpg');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }