<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE GYM</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bookings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sessions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/members.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  
</head>
<body class="site">
    <main class="site-content">
    <nav>
        <ul class="main-nav">
            <li class="background-nav">
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/sessions">SESSIONS</a>
            </li>
            <li>
                <a href="/members">MEMBERS AREA</a>
            </li>
            <li>
                <a href="/bookings">BOOKINGS</a>
            </li>
        </ul>
    </nav>
    {% block content %}
        
    {% endblock %}
 
</main>
   <footer> 
    <p> © 2021 The Gym in Edinburgh.  All Rights Reserved.</p>
   </footer> 
</body>
</html>