<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Gym</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bookings.css') }}">
</head>
<body>
    <main>
    <nav>
        <ul class="main-nav">
            <li class="background-nav">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/sessions">Sessions</a>
            </li>
            <li>
                <a href="/members">Members Area</a>
            </li>
            <li>
                <a href="/bookings">Bookings</a>
            </li>
        </ul>
    </nav>
    {% block content %}
        
    {% endblock %}
</main>
</body>
</html>